@import "./variables";
@import "./header";

.contact {
  //   @include flexCenter(row, rgb(69, 197, 122));
  @extend header;
  background: lightcoral;
  background: rgb(216, 133, 133);
  width: 100% - 20%;
}
